   @import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Rubik+Dirt&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
   body {
      font-family: Arial, sans-serif;
      background-color: rgb(168, 45, 45);
      color: #333;
      margin: 0;
      padding: 20px;
      /* background-image: url(/IMAGENES/1220EIOLIGrapes_SC--SPANISH.jpg); */
    }
header img{
    max-width: 7%;
}
    header {
      background-color: rgba(0, 0, 0, 0.103); /* verde uva chillón transparente */
      padding: 20px;
      text-align: center;
      border-radius: 10px;
    }

    h1 {
      color: rgb(254, 252, 255);
        font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
    }

    section {
      max-width: 800px;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h2 {
      color: #f8f8f8; /* lila */
       font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
    }
   header nav a{
    color: white;
   }
header nav ul {
 
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
      font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

header{
    color: rgb(19, 137, 141);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }
  header nav a:hover {
    background-color: rgba(77, 54, 54, 0.5);
    border-radius: 20px 10px 20px 10px;
}

    footer {
      text-align: center;
      margin-top: 40px;
      color: #777;
      font-size: 14px;
       font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
    }
    p{
   font-family: "Crafty Girls", cursive;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;

    }
    .galeria img {
     margin-left: 200px;
    margin-top: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  object-fit: cover;
    }
  
    .galeria :hover{
    transform: scale(1.1);
    filter: none;
    transition: all 0.3 ease-in-out;
}
ul :hover{
    transform: scale(1.1);
    filter: none;
    transition: all 0.3 ease-in-out;

}